* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

}

.global {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* NAVEGACIÓN=======0 */
.nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: var(--primary);
    color: var(--white);
    padding: 20px;
    background-color: hsl(220, 63%, 29%);

}

.nav h1 {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 10px;
    transition: 0.3s;
}

.nav li a:hover {
    background-color: hsl(222, 30%, 92%);
    border-radius: 4px;
    color: hsl(220, 63%, 29%);
}


/* PRINCIPAL===============0 */
/* #videofondo {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: -1;        
    pointer-events: none;
} 
*/

.cont1 {
   position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 5vh 10vw;
    box-sizing: border-box;

    overflow: hidden;

}


 header {
    margin: 0;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box; 
    width: 100%; 
    background: rgba(29, 29, 29, 0.40); 
    backdrop-filter: blur(10px); 
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 2;
}

h2 {
    color: hsl(220, 63%, 29%); 
    font-size: 2rem;
    margin-bottom: 5px;
}

header h3 {
    color: #000000;
    opacity: 0.8;
    font-weight: 300;
    margin: 0;
}

/* CAJAS DE CADA FUNCION========== */
.sub {
    background: hsla(0, 0%, 15%, 0.5);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 2.5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 900px;
}

.sub h3 {
    margin-top: 0;
    color: hsl(219, 46%, 56%);
    border-bottom: 2px solid rgba(255, 255, 255);
    padding-bottom: 10px;

}

/* Formulario========== */
.form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;

}

.subform {
    display: flex;
    flex-direction: column;

}

/* Botones =============*/
.btn {
    background: hsl(220, 63%, 40%);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, 0.3s;
}

.btn:hover {
    background: hsl(220, 63%, 50%);
    transform: translateY(2px);
}

input,
select {
    padding: 12px;
    background: #ffffff;
    border-radius: 6px;
    color: #020202;
    transition: border-color 0.3s;
    margin-bottom: 0.6rem;
}

input:focus {
    border-color: hsl(220, 63%, 50%);
    outline: none;
}



/* TABLA======================== */

.tablecontainer {
    width: 100%;   
   
    margin-top: 25px;
    border-radius: 8px;
    
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

th,
td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

tr:hover {
    background: rgba(225, 218, 218, 0.05);
    /* Resalta la fila al pasar el ratón */
}



.warning {
    background: rgba(231, 76, 60, 0.2);
    color: #e74c3c;
    /*     border: 1px solid #e74c3c;
 */
}

/* FOOOTERR============0 */

.cont2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0%, 9%);
    color: #eee;
    border-top: 3px solid #ffffff;
    padding: 1.6rem 5%;
    box-sizing: border-box;
}



.aviso ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    text-align: center;
    font-size: 0.9rem;

}

.aviso ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.aviso ul li a:hover {
    color: hsl(220, 71%, 79%);
    ;
}

.aviso p {
    font-size: 0.9rem;
}

.aviso p span:hover {
    color: hsl(220, 71%, 79%);
    ;
}