* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* NAVEGACIÓN */
.nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: hsl(220, 63%, 29%);
    color: white;
}

.nav h1 {
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px;
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: 0.3s;
}

.nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.nav a:focus {
    background-color: white;
    border-radius: 4px;
}

/* CONTENEDOR PRINCIPAL */
.general {
    display: flex;
    flex: 1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100vw;
    scrollbar-width: none;
}


/* CADA SECCIÓN (SLIDE) */
.sec {
    flex: 0 0 100vw;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    overflow-y: auto;
}

p {
    text-transform: capitalize;
    color: white
}

.content {
    background: hsla(0, 0%, 15%, 0.8);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 100%;
    max-width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* FORMULARIOS */
h3 {
    color: hsl(219, 90%, 65%);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
}

hr {
    margin: 25px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.miniform {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    color: #fffdfd;
    font-size: 0.9rem;
}

input {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

select {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

.secbtns {
    padding: 13px 0px 13px;
}

.btn {
    background: hsl(220, 63%, 45%);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;

}

.btn:hover {
    background: hsl(220, 63%, 60%);
    transform: translateY(-2px);
}

/* CONSULTAS-------------------- */
.seconsult {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 23px;


}

.tablecontainer {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}



/* FOOTER ------------------------------*/
.aviso {
    background-color: #000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-top: 2px solid hsl(220, 63%, 29%);
}

.aviso ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.aviso a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
}